// Custom styles go above bootstrap
.login-container {
    margin: 5% auto 5% auto;

    form {
      padding: 10%
    }
}
.login-form-1 {
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);

    h3 {
      text-align: center;
      color: #333;
    }

    .btnSubmit {
      font-weight: 600;
      color: #fff;
      background-color: #0062cc;
    }
}
@import 'bootstrap';